# Rust
src-tauri/src-tauri/target/

# Node
src-tauri/node_modules/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
dist_nuitka/
build/
*.spec
*.dll
*.pyd

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Build temp
build-temp/
build-temp2/
F:\ext-build/

# MSIX temp
MSIX/ModelBatchDown.exe

# Portable releases
ModelBatchDown-Portable/

# Credentials
.env
*.pem
*.key

# Tauri
src-tauri/src-tauri/icons/
.exe
